# Auto detect text files and perform LF normalization
* text=auto

# Force LF line endings for text files
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.svg text eol=lf
*.webm binary
*.mp4 binary
